extends layout

block content
	link(type="text/css" rel="stylesheet" href="stylesheets/about.css")
	div.well.txt-center
		#about About me.
	div.well
		img#uwpic1(class="image-rounded" src="images/uwlogo.png")
		img#uwpic2(class="image-rounded" src="images/uwlogo.png")
		span.text-center
			p
				h2 University of Washington
				h4 I am currently a freshman at the <a href="http://www.washington.edu" target="_blank" class="link"> University of Washington</a> in Seattle, WA.
				h4 I am currently taking relevant courses in pursuit of a Electrical Engineering degree.
	div.well
		img#uwECpic1(class="image-rounded image-responsive" src="images/UWEcoCarLogo.png" alt="Responsive image")
		img#uwECpic2(class="image-rounded image-responsive" src="images/UWEcoCarLogo.png" alt="Responsive image")
		span.text-center
			p
				h2 UW EcoCAR 2
				h4 Since a young age, I have always loved cars.
				h4 As a result, I joined the University of Washington's EcoCar 2 team, specifically the CenterStack team.
				h4 Our objective is to take out the center console and replace it with a 12-inch touchscreen that we program.
	div.well
		pre#codetext1 printf
		pre#codetext2 printf
		span.text-center
			p
				h2 Programming
				h4 I have experience in many languages and frameworks.
				h5 Languages: Java, C, C++, Javascript
				h5 Scripts: HTML/CSS, Jade
				h5 Frameworks: Node.js
	br
