extends layout

block content
    link(type="text/css" rel="stylesheet" href="stylesheets/index.css")
    body
    div#introbox
        div#introduction
            div#introtext
                #introname Hello.
            img#intropicture(src="images/Arush_intro.png" class="img-responsive" alt="Responsive image")
