html {
    height:100%;
}

#about{
    font-size:4em;
    text-align:center;
}

#uwpic1 {
    float:left;
    max-height:9em;
    max-width:9em;
    padding-bottom:1em;

}

#uwpic2 {
    float:right;
    max-height:9em;
    max-width:9em;
    padding-bottom:1em;

}

#uwECpic1 {
    float:left;
    height:6em;
    max-width:9em;
    padding-bottom:1em;
}

#uwECpic2 {
    float:right;
    height:6em;
    max-width:9em;
    padding-bottom:1em;

}

#abouttext {
    font-size: 2em;
    text-align: center;
}

#codetext1{
    float:right;
    font-size:2em;
}

#codetext2{
    float:left;
    font-size:2em;
}

#footer {
	position:fixed;
	color:gray;
}
