.img {
    float:center;
    margin-right:2em;
    margin-left:2em;
    length:8em;
    width:8em;
    margin-bottom:1em;
}

.LN {
    float:center;
    margin-right:2em;
    margin-left:2em;
    length:9em;
    width:9em;
    margin-bottom:1em;
}

#contactgrid {
	margin:0 auto;
	text-align:center;
}


#titletext {
    text-align:center;
    font-size:4em;
}
