.img1 {
    float: center;
    margin-right: 2em;
    margin-left: 2em;
    length: 8em;
    width: 8em;

}

#contactgrid {
	margin: 0 auto;
	text-align: center;
}


#titletext {
    text-align:center;
    font-size:4em;
}
